[color]
	ui = auto

[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	editor = vim
[pull]
	rebase = false
[alias]
    vacuum = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|master'|xargs git branch -d; git fetch --prune; };f"
